*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-top{
    background-color: #151f2a;
    padding: 5px 20px;    
}

.navbar-top ul{
    list-style-type: none;
}

.navbar-top a{
    text-decoration: none;
    color: azure;
    display: block;
    
}
.navbar-top a:hover{
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.button{
    border-bottom: #444 solid;
}

/* Menu movil*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toogle{
    cursor: pointer;
    order: 1;
}

.item.button{
    order: 2;
}

.item{
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.item.active{
    display: block;
}

.bars{
    background: #999;
    display: inline-block;
    position: relative;
    height: 2px;
    width: 18px;
}
.bars::before, .bars::after{
    background: #999;
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 18px;
}

.bars::before{
    top: 5px;
}

.bars::after{
    top: -5px;
}
