*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-top{
    background-color: #151f2a;
    padding: 5px 20px;    
}

.navbar-top ul{
    list-style-type: none;
}

.navbar-top a{
    text-decoration: none;
    color: azure;
    display: block;
    
}
.navbar-top a:hover{
    text-decoration: none;    
}

.logo img{    
    height: 50px;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.button{
    border-bottom: #444 solid;
}

body{
    font-family: sans-serif;
}

/* hero */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
    background-position: center;    
}

.content-hero{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}
.content-hero span{
    color: #f82707;    
}
.content-hero h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 55px;
    text-shadow: 0.1em 0.1em 0.2em black;    
}
.content-hero h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.content-hero h4{
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;    
    text-shadow: 0.1em 0.1em 0.2em black;
    text-decoration: underline;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f82707;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f82707;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.newsletter .button{
    cursor: pointer;
    color: #fff;
}
.newsletter .button:hover{
    background-color: #052b53;
}

.titulo{
    background-color: #eeeeee;
    color: #052b53;
    padding-top: 30px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    
}

/* blog */
.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    background-color: #eeeeee;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;  
    
}

.post{
    margin-top: 10px;
}

.post-img-1{
    background: url(./assets/ppc.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-2{
    background: url(./assets/seo.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post-img-3{
    background: url(./assets/estrategia.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    background-color: #fff;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
    transform: scale(1.1);
}

.post-body{
    padding: 15px;
    text-align: center;    
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #da260a;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
}

.post-body .post-link:hover{
    background: #f72504;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
}


/* adicional */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #f82707;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.content-about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    margin-left: 50px;
    margin-right: 50px;
}
.content-about img{
    box-shadow: 5px 1px 6px 1px rgba(0, 0, 0, .5);    
}
.content-about img:hover{
    transform: scale(1.1);  
}

.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;    
}

.about-text h5{
    color: #151f2a;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-decoration: underline;
}
.about-text p{
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    }

.about-text button{
    background-color: #0c1117;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    width: 300px;
}
.about-text button:hover{
    background-color: #172d44;
    border: 2px solid #0c1117;
    cursor: pointer;
}

/* footer*/
.footer{
    width: 100%;
    background-color: #151f2a;
}

.footer .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group-1 .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer .group-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .group-1 .box figure img{
    width: 250px;
}

.footer .group-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group-1 .box a{
    color: #efefef;
    margin: 0.2rem 0;
    text-decoration: none;
}

.footer .group-1 .social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #172d44;
    text-align: center;
    transition: all 300ms ease;
}

.footer .group-1 .social a:hover{
    color: #f82707;
}

.footer .group-1 .menu a:hover{
    color: #f82707;
}

.footer .group-2{
    background-color: #0c1117;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer .group-2 small{
    font-size: 15px;
}

/* ----- Menu movil ----- */


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toogle{
    cursor: pointer;
    order: 1;
}

.logo{
    flex: 1;
}

.item.button{
    order: 2;
}

.item{
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.item.active{
    display: block;   
}

.bars{
    background: #999;
    display: inline-block;
    position: relative;
    height: 2px;
    width: 18px;
}
.bars::before, .bars::after{
    background: #999;
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 18px;
}

.bars::before{
    top: 5px;
}

.bars::after{
    top: -5px;
}



@media screen and (max-width:840px) {
    .footer .group-1{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;        
    }
    
}


/* ----- Menu tablet ----- */

@media all and (min-width: 468px){
    .menu{
        justify-content: center;        
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toogle{
        order: 2;
    }
    .button{
        border: 0;
    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background-color: #da260a;
        border: 1px;
        border-radius: 50em;        
    }
    
    .button a:hover{
        background-color: #f72504;
        color: #fff;
    }
    
    .button2 a:hover{
        text-decoration: none;
        padding: 7px 15px;
        background-color: transparent;
        border-radius: 30px; 
        border: 2px solid #f82707;
        transition: .2s;
    }    

}

@media (max-width: 767px){

    .content-hero{
        position: relative;
        top: 50%;        
    }

    .content-hero h1{  
        margin: 20px 0px 20px;
        font-size: 40px;
           
    }
    .content-hero h3{     
        font-size: 15px;
        margin-bottom: 65px;       
    }
    .content-hero h4{
        font-size: 20px;          
    }
    
    .newsletter form{
        width: 350px;
        max-width: 100%;
        position: relative;
    }

    .content{
        grid-template-columns: repeat(2, 1fr);
    }

    .about{
        width: 100%;
        padding: 100px 0px;
        background-color: #f82707;
    }
    .about img{
        height: auto;
        width: 400px;
    }
    .about-text{
        width: 300px;
    }
    .content-about{        
        display: grid;
        grid-template-columns: repeat(1, 1fr);     
        justify-items: center;   
    }
    
    .about-text{
        margin-left: 30px;
    }
    
    
    .about-text h2{        
        font-size: 60px;
        margin-top: 30px;    
        text-align: center;        
    }
    
    .about-text h5{        
        font-size: 20px;
        text-align: center;
        
    }
    .about-text p{        
        font-size: 16px;     
        text-align: justify;   
        }
    
    .about-text button{
        width: 300px;
        margin-left: 0%;
    }

}

@media (max-width: 500px){
    .button2 a:hover{
        text-decoration: none;
        padding: 7px 15px;
        background-color: transparent;
        border-radius: 30px; 
        border: 2px solid #f82707;
        transition: .2s;
    }    
    .button a:hover{
        text-decoration: none;
        padding: 7px 15px;
        background-color: #f72504;
        border-radius: 30px; 
        
        transition: .2s;
    }    

    .hero{
    height: 70vh;
    }

    .content-hero{
        position: relative;
        top: 50%;        
    } 

    .content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .content-hero h1{  
        margin: 20px 0px 20px;
        font-size: 32px;
           
    }
    .content-hero h3{     
        font-size: 15px;
        margin-bottom: 50px;    
        color: #052b53;    
    }
    .content-hero h4{
        font-size: 18px;          
    }
    
    .newsletter form{
        width: 300px;
        max-width: 100%;
        position: relative;
    }
    
    .about{
        width: 100%;
        padding: 100px 0px;
        background-color: #f82707;
    }
    .about img{
        height: auto;
        width: 300px;
    }
    .about-text{
        width: 300px;
    }
    .content-about{        
        display: grid;
        grid-template-columns: repeat(1, 1fr);     
        justify-items: center;   
    }
    
    .about-text{
        margin-left: 30px;
    }
    
    
    .about-text h2{        
        font-size: 50px;
        margin-top: 30px;    
        text-align: center;        
    }
    
    .about-text h5{        
        font-size: 18px;
        text-align: center;
        
    }
    .about-text p{        
        font-size: 15px;     
        text-align: justify;   
        }
    
    .about-text button{
        width: 200px;
        margin-left: 15%;
    }
    
}

/* ----- Menu desktop ----- */
@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toogle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
}
